/****************************/
/*Project Site CSS*/
/****************************/
html,
body {
  background-color: #000000;
  width: 100%;
  height: 100%;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}
header {
  position: fixed;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  z-index: 10;
  background-color: rgba(34, 83, 120, 0.95);
}
header h1 {
  position: relative;
  text-align: left;
  top: -5px;
  margin: 0 0 0 20px;
  padding: 0;
  font-size: 40px;
  font-family: "subway-paris-sc", sans-serif;
  color: #ffffff;
}
.wf-loading h1 {
  visibility: hidden;
}
.wf-active h1 {
  visibility: visible;
}
.wf-loading h2 {
  visibility: hidden;
}
.wf-active h2 {
  visibility: visible;
}
header h1 a {
  text-decoration: none;
  color: #ffffff;
}
section header {
  width: 960px;
  margin: 20px auto;
  background-color: rgba(235, 127, 0, 0.95);
}
section header h2 {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
}
section header h2 a {
  text-decoration: none;
  color: #ffffff;
}
section {
  position: relative;
  overflow: auto;
  width: 960px;
  margin: 0 auto;
  padding: 50px 50px 0px;
  z-index: 0;
  background-color: #000000;
}
#projectList {
  list-style-type: none;
  width: 960px;
  height: 100%;
  margin: 90px auto 0px;
  padding: 0;
  background-color: transparent;
}
li {
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0px 20px 0px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}
li h3 {
  margin: 0;
  padding: 16px 0 0 20px;
  font-style: normal;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  color: #ffffff;
}
li h4 {
  margin: 0;
  padding: 12px 0 0 20px;
  font-style: normal;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  color: #ffffff;
  float: left;
}
.techLink {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  color: #ffffff;
  text-decoration: none;
}
li img {
  width: 100px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  margin: 20px 20px 0px 20px;
  padding: 0;
  float: left;
  display: block;
}
li p {
  margin: 0;
  padding: 15px 20px;
  font-family: "myriad-pro", sans-serif;
  font-style: normal;
  font-kerning: 30px;
  text-align: justify;
  color: #ffffff;
}
.gotoSite {
  margin: 0 20px 20px 0;
  padding: 5px 5px 10px 5px;
  float: right;
  width: 50px;
  height: 25px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  background-color: #eb7f00;
}
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 20px;
  margin: 0 auto;
  background-color: #225378;
}
#linkedIn {
  position: relative;
  float: left;
  background: url("../img/linkedin.png") no-repeat scroll 0 0 transparent;
  margin: 2px 0px 2px 20px;
  width: 16px;
  height: auto;
  display: block;
  background-size: 16px Auto;
  text-indent: -9999px;
  cursor: pointer;
}
#gitActivity {
  position: relative;
  margin: 2px 0px 0px 20px;
  padding: 0;
  float: left;
  text-decoration: none;
  font-size: 12px;
  font-family: "myriad-pro", sans-serif;
  color: #ffffff;
}
#gitActivity:hover {
  color: #1695a3;
}
#gitHubLink {
  display: none;
  position: relative;
  margin: 2px 0px 0px 20px;
  padding: 0;
  float: left;
  text-decoration: none;
  font-size: 12px;
  font-family: "myriad-pro", sans-serif;
  color: #ffffff;
}
#gitHubLink:hover {
  color: #1695a3;
}
footer small {
  position: relative;
  margin: 2px 20px 0px 0px;
  padding: 0;
  float: right;
  font-size: 12px;
  font-family: "myriad-pro", sans-serif;
  color: #ffffff;
}
@media all and (max-width: 1024px) {
  header h1 {
    text-align: center;
  }
  #ghBadge {
    display: none;
  }
  section {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  section header {
    display: none;
  }
  #projectList {
    width: 100%;
    margin: 50px 0;
  }
  li {
    margin: 0px 0px 25px 0px;
    padding: 10px 0 10px;
  }
  li:active {
    border: 2px solid rgba(255, 255, 255, 0.5);
  }
  li h3 {
    text-align: center;
    padding: 5px 0px 0px 9px;
  }
  li h4 {
    display: none;
  }
  li p {
    display: none;
  }
  li img {
    display: none;
  }
  li a {
    display: none;
  }
  #linkedIn {
    position: relative;
    right: 38px;
    background: url("../img/linkedin.png") no-repeat scroll 0 0 transparent;
    margin: 2px 5px 0 0;
    padding: 0;
    width: 38px;
    height: 100%;
    display: inline-block;
    background-size: 38px auto;
    text-indent: -9999px;
    cursor: pointer;
  }
  #gitActivity {
    display: none;
  }
  #gitHubLink {
    position: relative;
    right: 38px;
    background: url("../img/github.png") no-repeat scroll 0 0 transparent;
    margin: 2px 0 0 5px;
    padding: 0;
    width: 38px;
    height: 100%;
    display: inline-block;
    background-size: 38px auto;
    text-indent: -9999px;
    cursor: pointer;
  }
  footer {
    height: 40px;
    padding: 0 50%;
  }
  footer small {
    display: none;
    margin: 18px 20px 0px 0px;
  }
}
@media all and (max-width: 768px) {
  header h1 {
    text-align: center;
  }
  #ghBadge {
    display: none;
  }
  section {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  section header {
    display: none;
  }
  #projectList {
    width: 100%;
    margin: 50px 0;
  }
  li {
    margin: 0px 0px 25px 0px;
    padding: 10px 0 10px;
  }
  li:active {
    border: 2px solid rgba(255, 255, 255, 0.5);
  }
  li h3 {
    text-align: center;
    padding: 5px 0px 0px 9px;
  }
  li h4 {
    display: none;
  }
  li p {
    display: none;
  }
  li img {
    display: none;
  }
  li a {
    display: none;
  }
  #linkedIn {
    position: relative;
    right: 38px;
    background: url("../img/linkedin.png") no-repeat scroll 0 0 transparent;
    margin: 2px 5px 0 0;
    padding: 0;
    width: 38px;
    height: 100%;
    display: inline-block;
    background-size: 38px auto;
    text-indent: -9999px;
    cursor: pointer;
  }
  #gitActivity {
    display: none;
  }
  #gitHubLink {
    position: relative;
    right: 38px;
    background: url("../img/github.png") no-repeat scroll 0 0 transparent;
    margin: 2px 0 0 5px;
    padding: 0;
    width: 38px;
    height: 100%;
    display: inline-block;
    background-size: 38px auto;
    text-indent: -9999px;
    cursor: pointer;
  }
  footer {
    height: 40px;
    padding: 0 50%;
  }
  footer small {
    display: none;
    margin: 18px 20px 0px 0px;
  }
}
