/****************************/
/*Project Site CSS*/
/****************************/

///////////////////////////
//COLOUR SCHEME
///////////////////////////
@black: #000;
@dark-blue: #225378;
@med-blue: #1695a3;
@light-blue: #acf0f2;
@white: #fff;
@orange: #eb7f00;

///////////////////////////
//Fonts
///////////////////////////
@header: "subway-paris-sc", sans-serif;
@title: "proxima-nova", sans-serif;
@paragraph: "myriad-pro", sans-serif;

///////////////////////////
//Global Styling
///////////////////////////
html,
body {
  background-color: #fff;
}

a:hover, a:active, a:focus {
  outline: 0;
}

///////////////////////////
//Header Styling
///////////////////////////
header {
  position:fixed;
  width: 100%;
  height:50px;
  margin: 0 auto;
  padding:0;
  z-index: 10;
  background-color: rgba(red(@dark-blue), green(@dark-blue), blue(@dark-blue), .95);
}

header h1 {
  position: relative;
  text-align:left;
  top: -5px;
  margin: 0 0 0 20px;
  padding: 0;
  font-size: 40px;
  font-family: @header;
  color: @white;
}

header h1 a {
  text-decoration: none;
  color: @white;
}

section header {
  width:960px;
  margin: 20px auto;
  background-color: rgba(red(@orange), green(@orange), blue(@orange), .95);
}

section header h2 {
  position:relative;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: @title;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: @white;
}

section header h2 a {
  text-decoration: none;
  color: @white;
}

///////////////////////////
//Content Styling
///////////////////////////
section {
  position: relative;
  overflow:auto;
  width: 100%;
  margin: 0 auto;
  padding: 50px 50px 0px;//50
  z-index: 0;
  background-color: @black;
}

#projectList {
  list-style-type: none;
  width:960px;
  height:100%;
  margin: 90px auto 0px;
  padding: 0;
  background-color: transparent;//Was black
}

li {
  border:1px solid #ffffff;
  margin: 0px 0px 20px 0px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}

li h3 {
  margin: 0;
  padding: 16px 0 0 20px;
  font-style: normal;
  font-weight: 400;
  font-family: @title;
  color: @white;
}

li img {
  width: 100px;
  height: 50px;
  border: 1px solid #fff;
  margin: 20px 20px 0px 20px;
  padding: 0;
  float: left;
  display: block;
}

li p {
  margin: 0;
  padding: 15px 20px;
  font-family: @paragraph;
  font-style: normal;
  font-kerning: 30px;
  text-align: justify;
  color: @white;
}

li a {
  margin: 0 20px 20px 0;
  padding: 5px 5px 10px 5px;
  float: right;
  width: 50px;
  height: 25px;
  color: @white;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  background-color: @orange;
}

///////////////////////////
//Footer Styling
///////////////////////////
footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  height: 20px;
  margin: 0 auto;
  background-color: @dark-blue;
}

#linkedIn {
  position:relative;
  margin: 2px 0px 0px 20px;
  padding:0;
  float: left;
  text-decoration: none;
  font-size: 12px;
  font-family:@paragraph;
  color: @white;
}

#linkedIn:hover {
  color: @med-blue;
}

#gitActivity{
  position:relative;
  margin: 2px 0px 0px 20px;
  padding:0;
  float: left;
  text-decoration: none;
  font-size: 12px;
  font-family:@paragraph;
  color: @white;
}

#gitActivity:hover {
  color: @med-blue;
}

footer small {
  position: relative;
  margin: 2px 20px 0px 0px;
  padding:0;
  float: right;
  font-size: 12px;
  font-family:@paragraph;
  color: @white;
}

//Tablet - Landscape - 1024 x 768
@media all and (max-width: 1024px) {

  section {
    width: 860px;
  }

  section header {
    width:860px;
    margin: 20px auto;
  }

  #projectList {
    width: 860px;
  }
}

//Tablet - Portrait - 768 x 1024
@media all and (max-width: 768px) {
  #ghBadge {
    display:none;
  }

  section {
    width: 600px;
  }

  section header {
    width:600px;
    margin: 20px auto;
  }

  #projectList {
    width: 600px;
  }
}

//Smartphone - Landscape - 480 x 320
@media all and (max-width: 480px) {
  #ghBadge {
    display:none;
  }

  section {
    width: 480px;
    margin: 0;
    padding: 0;
  }

  section header {
    display: none;
  }

  #projectList {
    width: 480px;
    margin: 50px 0;
  }

  li {
    padding: 0;
  }

  li h3 {
    text-align: center;
    padding: 5px 0px 0px 9px;
  }

  li p {
    display: none;
  }

  li img {
    display: none;
  }

  li a {
    display: none;
  }
}

//Smartphone - Portrait - 320 x 480
@media all and (max-width: 320px) {

}
