/****************************/
/*Project Site CSS*/
/****************************/
html,
body {
  background-color: #000;
}
header {
  position: fixed;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  background-color: #225378;
}
header h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
  font-family: "sketchnote-square";
  color: #ffffff;
}
#projectsTitle {
  width: 960px;
  margin: 0 auto;
  background-color: #eb7f00;
}
#projectsTitle h2 {
  text-align: center;
}
#content {
  overflow: auto;
  width: 960px;
  margin: 0 auto;
  padding: 50px;
  background-color: #000000;
}
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 20px;
  margin: 0 auto;
  background-color: #225378;
}
#projectList {
  list-style-type: none;
  width: 960px;
  height: 100%;
  margin: 60px auto;
  padding: 0;
  background-color: #000000;
}
li {
  border: 1px solid #ffffff;
  margin: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}
li h3 {
  margin: 0;
  padding: 16px 0 0 20px;
  color: #ffffff;
}
li img {
  width: 100px;
  height: 50px;
  border: 1px solid #fff;
  margin: 20px;
  padding: 0;
  float: left;
  display: block;
}
li p {
  margin: 0;
  padding: 5px 20px;
  font-family: "myriad-pro", sans-serif;
  font-style: normal;
  font-kerning: 30px;
  text-align: justify;
  color: #ffffff;
}
li a {
  margin: 0 30px 20px 0;
  padding: 5px 5px 10px 5px;
  float: right;
  width: 50px;
  height: 25px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  background-color: #eb7f00;
}
