/****************************/
/*Project Site CSS*/
/****************************/
html,
body {
  background-color: #000;
}
header {
  position: fixed;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  z-index: 10;
  background-color: rgba(34, 83, 120, 0.95);
}
header h1 {
  position: relative;
  text-align: left;
  top: -5px;
  margin: 0 0 0 20px;
  padding: 0;
  font-size: 40px;
  font-family: "subway-paris-sc", sans-serif;
  color: #ffffff;
}
header h1 a {
  text-decoration: none;
  color: #ffffff;
}
header h1 a:hover {
  color: #1695a3;
}
section header {
  width: 960px;
  margin: 20px auto;
  background-color: rgba(235, 127, 0, 0.95);
}
section header h2 {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
}
section header h2 a {
  text-decoration: none;
  color: #ffffff;
}
section header h2 a:hover {
  color: #225378;
}
section {
  position: relative;
  overflow: auto;
  width: 960px;
  margin: 0 auto;
  padding: 50px;
  z-index: 0;
  background-color: #000000;
}
#projectList {
  list-style-type: none;
  width: 960px;
  height: 100%;
  margin: 90px auto;
  padding: 0;
  background-color: #000000;
}
li {
  border: 1px solid #ffffff;
  margin: 0px 0px 20px 0px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}
li h3 {
  margin: 0;
  padding: 16px 0 0 20px;
  font-style: normal;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  color: #ffffff;
}
li img {
  width: 100px;
  height: 50px;
  border: 1px solid #fff;
  margin: 20px 20px 0px 20px;
  padding: 0;
  float: left;
  display: block;
}
li p {
  margin: 0;
  padding: 15px 20px;
  font-family: "myriad-pro", sans-serif;
  font-style: normal;
  font-kerning: 30px;
  text-align: justify;
  color: #ffffff;
}
li a {
  margin: 0 30px 20px 0;
  padding: 5px 5px 10px 5px;
  float: right;
  width: 50px;
  height: 25px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  background-color: #eb7f00;
}
li a:hover {
  color: #225378;
}
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 20px;
  margin: 0 auto;
  background-color: #225378;
}
#linkedIn {
  position: relative;
  margin: 2px 0px 0px 20px;
  padding: 0;
  float: left;
  text-decoration: none;
  font-size: 12px;
  font-family: "myriad-pro", sans-serif;
  color: #ffffff;
}
#linkedIn:hover {
  color: #1695a3;
}
#gitActivity {
  position: relative;
  margin: 2px 0px 0px 20px;
  padding: 0;
  float: left;
  text-decoration: none;
  font-size: 12px;
  font-family: "myriad-pro", sans-serif;
  color: #ffffff;
}
#gitActivity:hover {
  color: #1695a3;
}
footer small {
  position: relative;
  margin: 2px 20px 0px 0px;
  padding: 0;
  float: right;
  font-size: 12px;
  font-family: "myriad-pro", sans-serif;
  color: #ffffff;
}
